/* GEF and APP Variables */

$font-url:      '../fonts/';
$iconfont-url:  '../iconfonts/';
$img-url:       '../images/';

$agora-font-size-base: 18;
$agora-line-height-base: 1.2;

$header-height: 94px;
$header-height-mobile: 54px;
$header-padding-y: 12px;
$header-padding-y-mobile: 10px;

$admin-bar-height: 32px;
$admin-bar-height-mobile: 46px;

$menu-height: 68px;
$toggle-width: 46px;

/*$logo-width: 92px;
$logo-width-mobile: 70px;*/
$logo-width: 94px;
$logo-width-mobile: 54px;

$dropdown-triangle-size: 12px;

$media-width-grid: 100%;
$media-height-grid: 232px;
$media-width-list: 183px;
$media-height-list: 181px;
$media-width-full: 128px;
$media-height-full: 127px;

$media-width-tablet: 163px;
$media-height-tablet: 161px;

$media-width-mobile: 100%;
$media-height-mobile: 150px;

$media-width-tree: 110px;
$media-height-tree: 106px;

$view-transition-duration: .35s;
$view-transition-easing: ease;

// Blocks
$block-margin-y: 1.5rem;
$editor-alignment-width: 49.5%;


// Colors
$brand-primary-alt: #263F9B;
$brand-secondary-alt: #d5faff;
$brand-warning-alt: #ffefbf;
$validation-bg: #fbe5a5;
$tagcloud-bg: #eeeeee;
$grey-off: #bbbbbb;
$grey-filters: #E7E5E6;
$dark: #333;
$extra-dark: #292929;
$black: #000;
$form-bg-color: #f0f0f0;
$color-highlight: #73ffff;

$color-evaluation-sent: #BFEDFA;
$color-evaluation-pending: #FFF7BF;

$editor-panel-bg-color: #ccc;
$editor-panel-border-color: #b3b3b3;

$adminbar-icon-color: rgba(240,245,250,.6);
$adminbar-color-hover: #00b9eb;

// Tree
$final-node-color:        #706f6f;
$extra-light:             #f8f8f8;

$tree_inc_sm:                  23px;     // tree deep level increment
$base_tree_sm:                 40px;     // left base tree content
$base_node_t_sm:               7px;      // left base node toggle
$base_node_f_sm:               13px;     // left base node final
$base_line_c_sm:               7px;      // left base line h cut
$base_line_v_sm:               15px;     // left base line vertical
$base_line_h_sm:               20px;     // left base line horizontal

$tree_inc:                    33px;      // tree deep level increment
$base_tree:                   51px;      // left base tree content
$base_node_t:                 15px;      // left base node toggle
$base_node_f:                 23px;      // left base node final
$base_line_c:                 15px;      // left base line h cut
$base_line_v:                 23px;      // left base line vertical
$base_line_h:                 28px;      // left base line horizontal

// Spacing
$spacer: 8px;
$spacer-double: $spacer * 2;
$spacer-x: $spacer;
$spacer-y: $spacer;
$border-width: 1px;
$border-width-bold: $border-width * 4;
$border-radius: 0;



// Grid
//$grid-container-expand-padding: 2px;
//$grid-gutter-width: 16px;
//$grid-gutter-width-box: 16px;


// Fonts
/*
$font-size-h1: 36;
$font-size-h2: 28;
$font-size-h3: 26;
$font-size-h4: 24;
$font-size-h5: 20;
$font-size-h6: 18;

$font-size-s: 18;
$font-size-xs: 14;
$font-size-lg: 30;
*/

// Forms
//$form-font-size: $font-size-s;

$font-weight-bold: 600;

// Icons
$icon-small-size: 1.3rem;
$icon-xsmall-size: 1.1rem;
$icon-normal-size: 1.5rem;

// Buttons
/*
$btn-normal-font-size: 18;
$btn-large-font-size: 19;
*/

$editor-colors: ();
$editor-colors: map-merge(
  (
    "primary":    $brand-primary,
    "secondary":  $brand-secondary,
    "gray":       $grey,
    "white":      $white,
  ),
  $editor-colors
);



/* BOOTSTRAP variables */

$paragraph-margin-bottom:   1rem;

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
);


// Boostrap spacers
$spacer_rem: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer_rem * .25),
    2: ($spacer_rem * .5),
    3: $spacer_rem,
    4: ($spacer_rem * 1.5),
    5: ($spacer_rem * 3)
  ),
  $spacers
);

// Bootstrap embed responsive ratios
$embed-responsive-aspect-ratios: ();
$embed-responsive-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (4 3),
    (1 1),
  ),
  $embed-responsive-aspect-ratios
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 769px,
  lg: 992px,
  xl: 1200px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


// For gutenberg alignment wide
$wide-max-widths: (
  sm: 640px,
  md: 790px,
  lg: 1120px,
  xl: 1380px
);

@include _assert-ascending($wide-max-widths, "wide-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

//$grid-columns:                12;
//$grid-gutter-width:           30px;
$grid-row-columns:            6;


// Transitions 
$transition-base:             all .2s ease-in-out;
$transition-fade:             opacity .25s ease;
$transition-collapse:         height .35s ease;



// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                8rem;
$dropdown-padding-x:                .75rem;
$dropdown-padding-y:                1rem;
$dropdown-spacer:                   .125rem;
$dropdown-font-size:                $agora-font-size-base;
$dropdown-color:                    $brand-primary;
$dropdown-bg:                       $grey-light;
$dropdown-border-color:             $brand-primary;
$dropdown-border-radius:            0;
$dropdown-border-width:             4px;
$dropdown-inner-border-radius:      0;
$dropdown-divider-bg:               $grey-light;
$dropdown-divider-margin-y:         $spacer * 0.5;
$dropdown-box-shadow:               0 5px 16px rgba(0,0,0,.1);
//$dropdown-box-shadow:               none;

$dropdown-link-color:               $brand-primary;
$dropdown-link-hover-color:         $link-hover-color;
$dropdown-link-hover-bg:            transparent;

$dropdown-link-active-color:        $brand-primary;
$dropdown-link-active-bg:           $grey-lighter;

$dropdown-link-disabled-color:      $grey-light;

$dropdown-item-padding-y:           .25rem;
$dropdown-item-padding-x:           .25rem;

$dropdown-header-color:             $brand-primary;
$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x;

// Tooltips

$tooltip-font-size:                 $agora-font-size-base;
$tooltip-max-width:                 320px;
$tooltip-color:                     $brand-primary;
$tooltip-bg:                        $brand-secondary-alt;
$tooltip-border-radius:             0;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 0.3rem;
$tooltip-padding-x:                 0.7rem;
$tooltip-margin:                    0;
$tooltip-arrow-width:               0.8rem;
$tooltip-arrow-height:              0.4rem;
$tooltip-arrow-color:               $tooltip-bg;

// Popovers

$popover-font-size:                 $agora-font-size-base;
$popover-bg:                        $white;
$popover-max-width:                 276px;
$popover-border-width:              1px;
$popover-border-color:              $brand-primary;
$popover-border-radius:             0;
$popover-box-shadow:                0 0.25rem 0.5rem rgba($brand-primary, 0.2);

$popover-header-bg:                 darken($popover-bg, 3%);
$popover-header-color:              $brand-primary;
$popover-header-padding-y:          .5rem;
$popover-header-padding-x:          .75rem;

$popover-body-color:                $body-color;
$popover-body-padding-y:            $popover-header-padding-y;
$popover-body-padding-x:            $popover-header-padding-x;

$popover-arrow-width:               1rem;
$popover-arrow-height:              0.5rem;
$popover-arrow-color:               $brand-primary;

$popover-arrow-outer-color:         fade-in($popover-border-color, 0.05);


// Modals

$modal-inner-padding:               1rem;
$modal-footer-margin-between:       .5rem;
$modal-dialog-margin:               0.5rem;
$modal-dialog-margin-y-sm-up:       0.5rem;
$modal-title-line-height:           1.1;

$modal-content-color:               null;
$modal-content-bg:                  $white;
$modal-content-border-color:        $white;
$modal-content-border-width:        1px;
$modal-content-border-radius:       0;
$modal-content-inner-border-radius: 0;
$modal-content-box-shadow-xs:       0 0.25rem 0.5rem rgba($black, 0.15);
$modal-content-box-shadow-sm-up:    0 0.5rem 1rem rgba($black, 0.15);

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            0.7;
$modal-header-border-color:         #ddd;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding-y:            1rem;
$modal-header-padding-x:            1rem;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x;

$modal-xl:                          1140px;
$modal-lg:                          920px;
$modal-md:                          720px;
$modal-sm:                          400px;

$modal-fade-transform:              translate(0, -50px);
$modal-show-transform:              none;
$modal-transition:                  transform .25s ease-out;
$modal-scale-transform:             scale(1.02);


// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex;
$overflows: auto, hidden;
$positions: static, relative, absolute, fixed, sticky;


// App svg icons

$icon-svg-arrow-primary: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='#{$brand-primary}' d='M8,12.487L1,5.164l1.723-1.651L8,9.005l5.277-5.492L15,5.164L8,12.487z'/></svg>"));

$icon-svg-user-primary-light: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='#{rgba($brand-primary,.1)}' d='M14.227,15h-1.617v-3.357c0-0.648-0.526-1.176-1.176-1.176H4.577c-0.649,0-1.176,0.526-1.176,1.176V15 H1.774v-3.357c0.002-1.547,1.255-2.8,2.802-2.802h6.847c1.548,0.002,2.8,1.255,2.802,2.802V15H14.227z M8.001,7.974 C6.076,7.98,4.509,6.424,4.503,4.499C4.496,2.573,6.052,1.006,7.978,1c1.926-0.007,3.493,1.549,3.499,3.475 c0,0.003,0,0.005,0,0.008C11.477,6.404,9.923,7.964,8.001,7.974z M8.001,2.614c-1.033,0-1.87,0.837-1.87,1.87 c0,1.033,0.837,1.87,1.87,1.87s1.871-0.837,1.871-1.87C9.87,3.451,9.033,2.616,8.001,2.614z'/></svg>"));

$icon-svg-agora-primary: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' xml:space='preserve'><path fill='#{$brand-primary}' d='M6.292 9.214c-1.618 0-2.922-1.303-2.922-2.921s1.304-2.922 2.922-2.922 2.921 1.304 2.921 2.922a2.93 2.93 0 0 1-2.921 2.921zm0-4.63c-.944 0-1.686.765-1.686 1.686 0 .922.764 1.686 1.686 1.686.943 0 1.686-.764 1.686-1.686a1.7 1.7 0 0 0-1.686-1.686zm7.932 3.327H10.36c-.968 0-1.755.786-1.755 1.751v.36H3.73V9.46c0-.966-.786-1.751-1.752-1.751H0v1.234h2c.27 0 .517.224.517.517v.607a1.715 1.715 0 0 0-1.393 1.706v1.394H2.36v-1.394c0-.269.226-.517.518-.517h6.471c.27 0 .516.225.516.517v1.394h1.236v-1.394c0-.786-.516-1.438-1.236-1.662v-.449c0-.267.227-.517.518-.517h3.865c.27 0 .518.225.518.517v3.505H16V9.641a1.77 1.77 0 0 0-1.776-1.73zm-1.933-.631a2.149 2.149 0 0 0 2.136-2.135 2.15 2.15 0 0 0-2.136-2.134 2.149 2.149 0 0 0-2.133 2.134c0 1.169.965 2.135 2.133 2.135zm0-3.033c.495 0 .899.405.899.898 0 .496-.404.9-.899.9a.9.9 0 0 1 0-1.798zM.046 4.067c.494 0 .898.405.898.9a.901.901 0 0 1-.898.898H0V7.1h.046c1.168 0 2.135-.965 2.135-2.133S1.214 2.832.046 2.832H0v1.235h.046z'/></svg>"));

$icon-svg-folio-primary: escape-svg(url("data:image/svg+xml,<svg width='19' height='19' viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg'><path d='M19,0 L19,2.375 L2.375,2.375 L2.375,3.5625 L19,3.5625 L19,5.9375 L2.375,5.9375 L2.375,16.625 L19,16.625 L19,19 L0,19 L0,0 L19,0 Z M11.875,7.91666667 L11.875,7.925375 L11.8845,7.91666667 L15.4145417,7.91666667 L13.0625,10.0549583 L13.0625,12.3009167 L15.3124167,12.3009167 L19,8.683 L19,12.0111667 L16.2819578,14.6762166 L10.6875,14.6762166 L10.6875,10.2916667 L4.35416667,10.2916667 L4.35416667,7.91666667 L11.875,7.91666667 Z M8.70833333,12.2708333 L8.70833333,14.6458333 L4.35416667,14.6458333 L4.35416667,12.2708333 L8.70833333,12.2708333 Z' transform='translate(-175.000000, -8.000000) translate(175.000000, 8.000000)' fill='#{$brand-primary}' fill-rule='nonzero'/></svg>"));

$icon-svg-folio-grey: escape-svg(url("data:image/svg+xml,<svg width='19' height='19' viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg'><path d='M19,0 L19,2.375 L2.375,2.375 L2.375,3.5625 L19,3.5625 L19,5.9375 L2.375,5.9375 L2.375,16.625 L19,16.625 L19,19 L0,19 L0,0 L19,0 Z M11.875,7.91666667 L11.875,7.925375 L11.8845,7.91666667 L15.4145417,7.91666667 L13.0625,10.0549583 L13.0625,12.3009167 L15.3124167,12.3009167 L19,8.683 L19,12.0111667 L16.2819578,14.6762166 L10.6875,14.6762166 L10.6875,10.2916667 L4.35416667,10.2916667 L4.35416667,7.91666667 L11.875,7.91666667 Z M8.70833333,12.2708333 L8.70833333,14.6458333 L4.35416667,14.6458333 L4.35416667,12.2708333 L8.70833333,12.2708333 Z' transform='translate(-175.000000, -8.000000) translate(175.000000, 8.000000)' fill='#{$link-hover-color}' fill-rule='nonzero'/></svg>"));

$icon-svg-folio-adminbar: escape-svg(url("data:image/svg+xml,<svg width='19' height='19' viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg'><path d='M19,0 L19,2.375 L2.375,2.375 L2.375,3.5625 L19,3.5625 L19,5.9375 L2.375,5.9375 L2.375,16.625 L19,16.625 L19,19 L0,19 L0,0 L19,0 Z M11.875,7.91666667 L11.875,7.925375 L11.8845,7.91666667 L15.4145417,7.91666667 L13.0625,10.0549583 L13.0625,12.3009167 L15.3124167,12.3009167 L19,8.683 L19,12.0111667 L16.2819578,14.6762166 L10.6875,14.6762166 L10.6875,10.2916667 L4.35416667,10.2916667 L4.35416667,7.91666667 L11.875,7.91666667 Z M8.70833333,12.2708333 L8.70833333,14.6458333 L4.35416667,14.6458333 L4.35416667,12.2708333 L8.70833333,12.2708333 Z' transform='translate(-175.000000, -8.000000) translate(175.000000, 8.000000)' fill='#{$adminbar-icon-color}' fill-rule='nonzero'/></svg>"));

$icon-svg-folio-adminbar-hover: escape-svg(url("data:image/svg+xml,<svg width='19' height='19' viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg'><path d='M19,0 L19,2.375 L2.375,2.375 L2.375,3.5625 L19,3.5625 L19,5.9375 L2.375,5.9375 L2.375,16.625 L19,16.625 L19,19 L0,19 L0,0 L19,0 Z M11.875,7.91666667 L11.875,7.925375 L11.8845,7.91666667 L15.4145417,7.91666667 L13.0625,10.0549583 L13.0625,12.3009167 L15.3124167,12.3009167 L19,8.683 L19,12.0111667 L16.2819578,14.6762166 L10.6875,14.6762166 L10.6875,10.2916667 L4.35416667,10.2916667 L4.35416667,7.91666667 L11.875,7.91666667 Z M8.70833333,12.2708333 L8.70833333,14.6458333 L4.35416667,14.6458333 L4.35416667,12.2708333 L8.70833333,12.2708333 Z' transform='translate(-175.000000, -8.000000) translate(175.000000, 8.000000)' fill='#{$adminbar-color-hover}' fill-rule='nonzero'/></svg>"));


$icon-svg-debate-primary: escape-svg(url("data:image/svg+xml,<svg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1031.000000, -673.000000) translate(716.000000, 512.000000) translate(249.000000, 155.000000) translate(66.000000, 6.000000)' fill='none' fill-rule='evenodd'><rect width='17.6727273' height='17.6727273'/><polygon points='0 0 15.4636364 0 15.4636364 9.94090909 7.73181818 9.94090909 3.31363636 13.8068182 3.31363636 9.94090909 0 9.94090909' stroke-linecap='round' stroke-linejoin='round' transform='translate(1.104545, 2.209091)' stroke='#{$brand-primary}' stroke-width='2'/></g></svg>"));

$icon-svg-debate-white: escape-svg(url("data:image/svg+xml,<svg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1031.000000, -673.000000) translate(716.000000, 512.000000) translate(249.000000, 155.000000) translate(66.000000, 6.000000)' fill='none' fill-rule='evenodd'><rect width='17.6727273' height='17.6727273'/><polygon points='0 0 15.4636364 0 15.4636364 9.94090909 7.73181818 9.94090909 3.31363636 13.8068182 3.31363636 9.94090909 0 9.94090909' stroke-linecap='round' stroke-linejoin='round' transform='translate(1.104545, 2.209091)' stroke='#{$white}' stroke-width='2'/></g></svg>"));

$icon-svg-evaluable-primary: escape-svg(url("data:image/svg+xml,<svg width='23' height='23' viewBox='0 0 23 23' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1245.000000, -427.000000) translate(1163.000000, 425.000000) translate(82.000000, 2.000000)' fill='none' fill-rule='evenodd'><rect width='23' height='23'/><path d='M13.4741667,8.625 L14.375,9.52583333 L5.67333333,18.2083333 L4.79166667,18.2083333 L4.79166667,17.3266667 L13.4741667,8.625 M16.9241667,2.875 C16.6845833,2.875 16.4354167,2.97083333 16.2533333,3.15291667 L14.4995833,4.90666667 L18.0933333,8.50041667 L19.8470833,6.74666667 C20.2208333,6.37291667 20.2208333,5.75 19.8470833,5.39541667 L17.6045833,3.15291667 C17.4129167,2.96125 17.1733333,2.875 16.9241667,2.875 M13.4741667,5.93208333 L2.875,16.53125 L2.875,20.125 L6.46875,20.125 L17.0679167,9.52583333 L13.4741667,5.93208333 Z' fill='#{$brand-primary}' fill-rule='nonzero'/></g></svg>"));

$icon-svg-evaluable-white: escape-svg(url("data:image/svg+xml,<svg width='23' height='23' viewBox='0 0 23 23' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1245.000000, -427.000000) translate(1163.000000, 425.000000) translate(82.000000, 2.000000)' fill='none' fill-rule='evenodd'><rect width='23' height='23'/><path d='M13.4741667,8.625 L14.375,9.52583333 L5.67333333,18.2083333 L4.79166667,18.2083333 L4.79166667,17.3266667 L13.4741667,8.625 M16.9241667,2.875 C16.6845833,2.875 16.4354167,2.97083333 16.2533333,3.15291667 L14.4995833,4.90666667 L18.0933333,8.50041667 L19.8470833,6.74666667 C20.2208333,6.37291667 20.2208333,5.75 19.8470833,5.39541667 L17.6045833,3.15291667 C17.4129167,2.96125 17.1733333,2.875 16.9241667,2.875 M13.4741667,5.93208333 L2.875,16.53125 L2.875,20.125 L6.46875,20.125 L17.0679167,9.52583333 L13.4741667,5.93208333 Z' fill='#{$white}' fill-rule='nonzero'/></g></svg>"));

$icon-svg-grid-off: escape-svg(url("data:image/svg+xml,<svg width='19' height='19' viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg'><path d='M1.02666667,8.21333333 L7.18666667,8.21333333 C7.75367901,8.21333333 8.21333333,7.75367901 8.21333333,7.18666667 L8.21333333,1.02666667 C8.21333333,0.459654324 7.75367901,0 7.18666667,0 L1.02666667,0 C0.459654324,0 0,0.459654324 0,1.02666667 L0,7.18666667 C0,7.75367901 0.459654324,8.21333333 1.02666667,8.21333333 Z M11.2933333,8.21333333 L17.4533333,8.21333333 C18.0203457,8.21333333 18.48,7.75367901 18.48,7.18666667 L18.48,1.02666667 C18.48,0.459654324 18.0203457,0 17.4533333,0 L11.2933333,0 C10.726321,0 10.2666667,0.459654324 10.2666667,1.02666667 L10.2666667,7.18666667 C10.2666667,7.75367901 10.726321,8.21333333 11.2933333,8.21333333 Z M1.02666667,18.48 L7.18666667,18.48 C7.75367901,18.48 8.21333333,18.0203457 8.21333333,17.4533333 L8.21333333,11.2933333 C8.21333333,10.726321 7.75367901,10.2666667 7.18666667,10.2666667 L1.02666667,10.2666667 C0.459654324,10.2666667 0,10.726321 0,11.2933333 L0,17.4533333 C0,18.0203457 0.459654324,18.48 1.02666667,18.48 Z M11.2933333,18.48 L17.4533333,18.48 C18.0203457,18.48 18.48,18.0203457 18.48,17.4533333 L18.48,11.2933333 C18.48,10.726321 18.0203457,10.2666667 17.4533333,10.2666667 L11.2933333,10.2666667 C10.726321,10.2666667 10.2666667,10.726321 10.2666667,11.2933333 L10.2666667,17.4533333 C10.2666667,18.0203457 10.726321,18.48 11.2933333,18.48 Z' fill='#{$brand-primary}' fill-rule='nonzero'/></svg>"));

$icon-svg-list-off: escape-svg(url("data:image/svg+xml,<svg width='21' height='18' viewBox='0 0 21 18' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1247.000000, -217.000000) translate(1247.000000, 217.000000)' fill='#{$brand-primary}' fill-rule='nonzero'><polygon points='5.86683429 14.0794971 5.86683429 17.6005029 20.3868343 17.6005029 20.3739097 14.0794971'/><rect y='14.0794971' width='3.51949714' height='3.52100571'/><polygon points='5.86683429 7.04050286 5.86683429 10.56 20.3868343 10.56 20.3739097 7.04050286'/><rect y='7.04050286' width='3.51949714' height='3.51949714'/><polygon points='5.86683429 -8.35331804e-14 5.86683429 3.52100571 20.3868343 3.52100571 20.3739097 -8.35331804e-14'/><rect width='3.51949714' height='3.52100571'/></g></svg>"));

$icon-svg-full-off: escape-svg(url("data:image/svg+xml,<svg width='21' height='19' viewBox='0 0 21 19' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1278.000000, -216.000000) translate(1279.000000, 217.000000)' fill='none' fill-rule='evenodd'><polyline stroke='#{$brand-primary}' stroke-width='2' points='-2.18491891e-13 7.7351156 -2.18491891e-13 2.84217094e-14 18.48 2.84217094e-14 18.48 7.7351156'/><polyline stroke='#{$brand-primary}' stroke-width='2' points='-2.18491891e-13 17.7351156 -2.18491891e-13 10 18.48 10 18.48 17.7351156'/><polygon fill='#{$brand-primary}' fill-rule='nonzero' points='4 2 15 2 15 3.97341667 4 3.97341667'/><polygon fill='#{$brand-primary}' fill-rule='nonzero' points='4 12 15 12 15 13.9734167 4 13.9734167'/><polygon fill='#{$brand-primary}' fill-rule='nonzero' points='4 5 15 5 15 6.97341667 4 6.97341667'/><polygon fill='#{$brand-primary}' fill-rule='nonzero' points='4 15 15 15 15 16.9734167 4 16.9734167'/></g></svg>"));

$icon-svg-grid-on: escape-svg(url("data:image/svg+xml,<svg width='19' height='19' viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg'><path d='M1.02666667,8.21333333 L7.18666667,8.21333333 C7.75367901,8.21333333 8.21333333,7.75367901 8.21333333,7.18666667 L8.21333333,1.02666667 C8.21333333,0.459654324 7.75367901,0 7.18666667,0 L1.02666667,0 C0.459654324,0 0,0.459654324 0,1.02666667 L0,7.18666667 C0,7.75367901 0.459654324,8.21333333 1.02666667,8.21333333 Z M11.2933333,8.21333333 L17.4533333,8.21333333 C18.0203457,8.21333333 18.48,7.75367901 18.48,7.18666667 L18.48,1.02666667 C18.48,0.459654324 18.0203457,0 17.4533333,0 L11.2933333,0 C10.726321,0 10.2666667,0.459654324 10.2666667,1.02666667 L10.2666667,7.18666667 C10.2666667,7.75367901 10.726321,8.21333333 11.2933333,8.21333333 Z M1.02666667,18.48 L7.18666667,18.48 C7.75367901,18.48 8.21333333,18.0203457 8.21333333,17.4533333 L8.21333333,11.2933333 C8.21333333,10.726321 7.75367901,10.2666667 7.18666667,10.2666667 L1.02666667,10.2666667 C0.459654324,10.2666667 0,10.726321 0,11.2933333 L0,17.4533333 C0,18.0203457 0.459654324,18.48 1.02666667,18.48 Z M11.2933333,18.48 L17.4533333,18.48 C18.0203457,18.48 18.48,18.0203457 18.48,17.4533333 L18.48,11.2933333 C18.48,10.726321 18.0203457,10.2666667 17.4533333,10.2666667 L11.2933333,10.2666667 C10.726321,10.2666667 10.2666667,10.726321 10.2666667,11.2933333 L10.2666667,17.4533333 C10.2666667,18.0203457 10.726321,18.48 11.2933333,18.48 Z' fill='#{$brand-secondary}' fill-rule='nonzero'/></svg>"));

$icon-svg-list-on: escape-svg(url("data:image/svg+xml,<svg width='21' height='18' viewBox='0 0 21 18' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1247.000000, -217.000000) translate(1247.000000, 217.000000)' fill='#{$brand-secondary}' fill-rule='nonzero'><polygon points='5.86683429 14.0794971 5.86683429 17.6005029 20.3868343 17.6005029 20.3739097 14.0794971'/><rect y='14.0794971' width='3.51949714' height='3.52100571'/><polygon points='5.86683429 7.04050286 5.86683429 10.56 20.3868343 10.56 20.3739097 7.04050286'/><rect y='7.04050286' width='3.51949714' height='3.51949714'/><polygon points='5.86683429 -8.35331804e-14 5.86683429 3.52100571 20.3868343 3.52100571 20.3739097 -8.35331804e-14'/><rect width='3.51949714' height='3.52100571'/></g></svg>"));

$icon-svg-full-on: escape-svg(url("data:image/svg+xml,<svg width='21' height='19' viewBox='0 0 21 19' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-1278.000000, -216.000000) translate(1279.000000, 217.000000)' fill='none' fill-rule='evenodd'><polyline stroke='#{$brand-secondary}' stroke-width='2' points='-2.18491891e-13 7.7351156 -2.18491891e-13 2.84217094e-14 18.48 2.84217094e-14 18.48 7.7351156'/><polyline stroke='#{$brand-secondary}' stroke-width='2' points='-2.18491891e-13 17.7351156 -2.18491891e-13 10 18.48 10 18.48 17.7351156'/><polygon fill='#{$brand-secondary}' fill-rule='nonzero' points='4 2 15 2 15 3.97341667 4 3.97341667'/><polygon fill='#{$brand-secondary}' fill-rule='nonzero' points='4 12 15 12 15 13.9734167 4 13.9734167'/><polygon fill='#{$brand-secondary}' fill-rule='nonzero' points='4 5 15 5 15 6.97341667 4 6.97341667'/><polygon fill='#{$brand-secondary}' fill-rule='nonzero' points='4 15 15 15 15 16.9734167 4 16.9734167'/></g></svg>"));

$icon-svg-tree-off: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18' xml:space='preserve'><g fill='#{$brand-primary}'><path d='M11.692 14.063h8.683v3.517h-8.683zM5.859 14.063h3.483v3.517H5.859zM11.692 7.032h8.683v3.517h-8.683zM5.859 7.032h3.483v3.517H5.859zM5.859 0h14.516v3.517H5.859zM0 0h3.516v3.517H0z'/></g></svg>"));

$icon-svg-tree-on: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18' xml:space='preserve'><g fill='#{$brand-secondary}'><path d='M11.692 14.063h8.683v3.517h-8.683zM5.859 14.063h3.483v3.517H5.859zM11.692 7.032h8.683v3.517h-8.683zM5.859 7.032h3.483v3.517H5.859zM5.859 0h14.516v3.517H5.859zM0 0h3.516v3.517H0z'/></g></svg>"));

$icon-svg-comm-off: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='18' height='18'><path fill='#{$brand-primary}' d='M18 0H6.333v3.001H0v1.666h8.332v7.832H5v1.334l-1.833-1.334H0v1.668h2.501l4.332 3.168v-3.168h3.166v-2.834h1.168v3.002l4.334-3.002H18V9.501h-3.001L13 11V9.501H9.999v-6.5H8.167V1.834H18z'/></svg>"));

$icon-svg-comm-on: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='18' height='18'><path fill='#{$brand-secondary}' d='M18 0H6.333v3.001H0v1.666h8.332v7.832H5v1.334l-1.833-1.334H0v1.668h2.501l4.332 3.168v-3.168h3.166v-2.834h1.168v3.002l4.334-3.002H18V9.501h-3.001L13 11V9.501H9.999v-6.5H8.167V1.834H18z'/></svg>"));

$icon-svg-bubble-off: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='18' height='18'><path fill='none' stroke='#{$brand-primary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M12.598 14.1h-2.484V17l-3.315-2.9h-5.8V6.645h11.599z'/><path fill='#{$brand-primary}' stroke='#{$brand-primary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M5.403 1H17v7.455h-5.798l-3.313 2.9v-2.9H5.403z'/></svg>"));

$icon-svg-bubble-on: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='18' height='18'><path fill='none' stroke='#{$brand-secondary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M12.598 14.1h-2.484V17l-3.315-2.9h-5.8V6.645h11.599z'/><path fill='#{$brand-secondary}' stroke='#{$brand-secondary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M5.403 1H17v7.455h-5.798l-3.313 2.9v-2.9H5.403z'/></svg>"));



$icon-svg-scroll-on: escape-svg(url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><g transform='translate(0.000000, 0.000000)' fill='none' fill-rule='evenodd'><rect width='24' height='24'/><g fill='#{$brand-primary}' fill-rule='nonzero'><path d='M1.5,12 C1.5,17.7989899 6.20101013,22.5 12,22.5 C17.7989899,22.5 22.5,17.7989899 22.5,12 C22.5,6.20101013 17.7989899,1.5 12,1.5 C6.20101013,1.5 1.5,6.20101013 1.5,12 Z M24,12 C24,18.627417 18.627417,24 12,24 C5.372583,24 0,18.627417 0,12 C0,5.372583 5.372583,0 12,0 C18.627417,0 24,5.372583 24,12 Z'/><polygon points='11.75 5 6 10.75 7.34166667 12.0916667 10.7916667 8.64166667 10.7916667 19.1868301 12.7083333 19.1868301 12.7083333 8.64166667 16.1583333 12.0916667 17.5 10.75'/></g></g></svg>"));

$icon-svg-scroll-off: escape-svg(url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><g transform='translate(0.000000, 0.000000)' fill='none' fill-rule='evenodd'><rect width='24' height='24'/><g fill='#{$text-muted}' fill-rule='nonzero'><path d='M1.5,12 C1.5,17.7989899 6.20101013,22.5 12,22.5 C17.7989899,22.5 22.5,17.7989899 22.5,12 C22.5,6.20101013 17.7989899,1.5 12,1.5 C6.20101013,1.5 1.5,6.20101013 1.5,12 Z M24,12 C24,18.627417 18.627417,24 12,24 C5.372583,24 0,18.627417 0,12 C0,5.372583 5.372583,0 12,0 C18.627417,0 24,5.372583 24,12 Z'/><polygon points='11.75 5 6 10.75 7.34166667 12.0916667 10.7916667 8.64166667 10.7916667 19.1868301 12.7083333 19.1868301 12.7083333 8.64166667 16.1583333 12.0916667 17.5 10.75'/></g></g></svg>"));

$icon-svg-order-primary: escape-svg(url("data:image/svg+xml,<svg width='25' height='23' viewBox='0 0 25 23' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-45.000000, -1004.000000) translate(45.000000, 1004.000000)' fill='#{$brand-primary}' fill-rule='nonzero'><polygon points='23.575 15.9083333 20.125 19.3583333 20.125 0 18.2083333 0 18.2083333 19.3583333 14.7583333 15.9083333 13.4166667 17.25 19.1666667 23 24.9166667 17.25'/><polygon points='5.75 0 0 5.75 1.34166667 7.09166667 4.79166667 3.64166667 4.79166667 23 6.70833333 23 6.70833333 3.64166667 10.1583333 7.09166667 11.5 5.75'/></g></svg>"));

$icon-svg-order-asc: escape-svg(url("data:image/svg+xml,<svg width='25' height='23' viewBox='0 0 25 23' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-45.000000, -1004.000000) translate(45.000000, 1004.000000)' fill-rule='nonzero'><polygon points='23.575 15.9083333 20.125 19.3583333 20.125 0 18.2083333 0 18.2083333 19.3583333 14.7583333 15.9083333 13.4166667 17.25 19.1666667 23 24.9166667 17.25' fill='#{$brand-primary}'/><polygon points='5.75 0 0 5.75 1.34166667 7.09166667 4.79166667 3.64166667 4.79166667 23 6.70833333 23 6.70833333 3.64166667 10.1583333 7.09166667 11.5 5.75' fill='#{$grey-dark}'/></g></svg>"));

$icon-svg-order-desc: escape-svg(url("data:image/svg+xml,<svg width='25' height='23' viewBox='0 0 25 23' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-45.000000, -1004.000000) translate(45.000000, 1004.000000)' fill-rule='nonzero'><polygon points='23.575 15.9083333 20.125 19.3583333 20.125 0 18.2083333 0 18.2083333 19.3583333 14.7583333 15.9083333 13.4166667 17.25 19.1666667 23 24.9166667 17.25' fill='#{$grey-dark}'/><polygon points='5.75 0 0 5.75 1.34166667 7.09166667 4.79166667 3.64166667 4.79166667 23 6.70833333 23 6.70833333 3.64166667 10.1583333 7.09166667 11.5 5.75' fill='#{$brand-primary}'/></g></svg>"));

$icon-svg-sort-on: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='23' viewBox='0 0 13 23' xml:space='preserve'><path fill='#{$brand-primary}' d='M6.5 0 .75 5.75l1.342 1.342 3.45-3.45V23h1.916V3.642l3.45 3.45L12.25 5.75z'/></svg>"));
$icon-svg-sort-off: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='23' viewBox='0 0 13 23' xml:space='preserve'><path fill='#{$text-muted}' d='M6.5 0 .75 5.75l1.342 1.342 3.45-3.45V23h1.916V3.642l3.45 3.45L12.25 5.75z'/></svg>"));

$icon-svg-logout-primary: escape-svg(url("data:image/svg+xml,<svg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='M7,16 L2,16 C0.8954305,16 0,15.1045695 0,14 L0,2 C0,0.8954305 0.8954305,0 2,0 L7,0 M16,8 L12,4 M16,8 L12,12 M16,8 L6,8' transform='translate(-1159.000000, -898.000000) translate(37.000000, 45.000000) translate(20.000000, 826.000000) translate(16.000000, 17.000000) translate(970.000000, 8.000000) translate(99.000000, 0.000000) translate(18.000000, 3.000000)' stroke='#{$brand-primary}' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/></svg>"));

$icon-svg-logout-grey: escape-svg(url("data:image/svg+xml,<svg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='M7,16 L2,16 C0.8954305,16 0,15.1045695 0,14 L0,2 C0,0.8954305 0.8954305,0 2,0 L7,0 M16,8 L12,4 M16,8 L12,12 M16,8 L6,8' transform='translate(-1159.000000, -898.000000) translate(37.000000, 45.000000) translate(20.000000, 826.000000) translate(16.000000, 17.000000) translate(970.000000, 8.000000) translate(99.000000, 0.000000) translate(18.000000, 3.000000)' stroke='#{$link-hover-color}' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/></svg>"));