.color-marker{
	display: inline-block;
	vertical-align: middle;
	width: $color-marker-width;
	height: $color-marker-height;
	margin: $color-marker-margin;
	line-height: 0;
	&.is-active{
		transform: $color-marker-hover-transform;
		border: $color-marker-active-border;
	}
}

a.color-marker{
	text-decoration: none;
	&:hover{
			transform: $color-marker-hover-transform;
		}
}


.color-marker--custom1{
	background-color: $custom1;
}
.color-marker--custom2{
	background-color: $custom2;
}
.color-marker--custom3{
background-color: $custom3;
}
.color-marker--custom4{
background-color: $custom4;
}
.color-marker--custom5{
background-color: $custom5;
}
.color-marker--custom6{
background-color: $custom6;
}
.color-marker--custom7{
background-color: $custom7;
}
.color-marker--custom8{
background-color: $custom8;
}
.color-marker--custom9{
background-color: $custom9;
}
.color-marker--custom10{
	background-color: $custom10;
}
.color-marker--custom11{
	background-color: $custom11;
}
.color-marker--custom12{
	background-color: $custom12;
}
.color-marker--custom13{
	background-color: $custom13;
}
.color-marker--custom14{
	background-color: $custom14;
}
.color-marker--custom15{
	background-color: $custom15;
}
.color-marker--custom16{
	background-color: $custom16;
}
.color-marker--custom17{
	background-color: $custom17;
}
.color-marker--custom18{
	background-color: $custom18;
}
.color-marker--custom19{
	background-color: $custom19;
}
.color-marker--custom20{
	background-color: $custom20;
}
.color-marker--custom21{
	background-color: $custom21;
}
.color-marker--custom22{
	background-color: $custom22;
}
.color-marker--custom23{
	background-color: $custom23;
}
