$agenda-border-color: 			$grey;

$agenda-cell-padding: 			$spacer-y*0.5 $spacer-x*0.5;

$agenda-day-bg:			 				$grey-light;
$agenda-day-padding: 				2px $spacer-x*0.5;

$agenda-day-inactive-color: $grey;

$agenda-events-height: 			5em;

$agenda-events-font-size:	 	$font-size-xs;