$alpha-list-bg: 								$grey-light;
$alpha-list-padding: 						2px;
$alpha-list-weight: 						bold;

$alpha-list-item-padding: 			0 5px;

$alpha-list-link-color: 				$body-color;
$alpha-list-link-color-hover:		$link-color;
$alpha-list-inactive-color:			$grey;
$alpha-list-active-color:				$link-color;
