@use "sass:math";

$calendar-padding:						$spacer-y*0.5 $spacer-x*0.5;
$calendar-bg:									$grey-light;

$calendar-cell-padding: 			3px $spacer-x*0.5;

$calendar-month-bg:						$white;
$calenadar-month-padding:			math.div($spacer-y, 3) $spacer-x*0.5;

$calendar-week-color:					$brand-primary;
$calenadar-week-padding:			math.div($spacer-y, 3) $spacer-x*0.5;

$calendar-day-color:					$body-color;
$calendar-day-color-hover:		$brand-primary;

$calendar-day-inactive-color:		$grey;
$calendar-day-active-bg:				$brand-primary;
$calendar-day-active-color:			$white;
