$card-border-width:			1px;
$card-border-color:			$grey;
$card-padding-x:				$spacer-x*.75;
$card-padding-y:				$spacer-y;

$card-light-bg:					$grey-light;

$card-inverse-bg:				$grey-dark;

$card-highlight-bg:			$brand-secondary;

$card-action-color:			$grey-medium;
$card-action-hover:			$link-color;
$card-action-margin:		0 .3em;

