
//Corporative colors
$brand-primary: 		#272e59;
$brand-secondary: 	#fec13d;

$grey-dark: 				#282828;
$grey-medium:				#818a91;
$grey: 							#d3d3d3;
$grey-light: 				#f4f4f4;
//$grey-lighter: 		grey;
$white: 						#fff;

//Interface colors
$body-bg: 						$white;
$body-color: 					$grey-dark;
$body-color-inverse:	$grey-light;


//Other general colors
$blue: 							#4078c0; //links, alert info
$green:							#568C2F; //inline code, alert success
$orange:						#fec13d; //alert warning
$red:								#a94442; //alert error, errors

//Customizable colors
$custom1:			#2E3A69;
$custom2:			#FF823D;
$custom3:			#EEA400;
$custom4:			#66AA00;
$custom5:			#3366CC;
$custom6:			#FF2600;
$custom7:			#C31A8A;
$custom8:			#1B814B;
$custom9:			#339DCC;
$custom10:		#9E5A9E;
$custom11:		#0580C7;
$custom12:		#66AA00;
$custom13:		#DD4477;
$custom14:		#DD5511;
$custom15:		#7083A8;
$custom16:		#D6AE00;
$custom17:		#339DCC;
$custom18:		#90AA11;
$custom19:		#329260;
$custom20:		#909049;
$custom21:		#51978E;
$custom22:		#BC924C;
$custom23:		#B86060;
