@use "sass:math";

$secondary-nav-padding-y: 			math.div($spacer-y, 3); 
$secondary-nav-padding-x: 			$spacer-x; 

$secondary-nav-font-size: 			$font-size-base;

$secondary-nav-linkcolor: 			$brand-primary;
$secondary-nav-linkcolor-hover: $white;

$secondary-nav-hover: 					$brand-primary;


$secondary-nav-trigger-bg:				$grey-light;
$secondary-nav-trigger-border:		1px solid $grey;