$badge-bg:							$grey-medium;
$badge-color:						$white;
$badge-padding:					2px 7px;
$badge-border-radius: 	10px;

$badge-info:						$blue;
$badge-success:					$green;
$badge-warning:					$orange;
$badge-error:						$red;
$badge-inverse:					$white;