
$hr-border-color:							$grey-light !default;
$hr-border-style:   					solid !default;
$hr-border-width:   					$border-width;

$hr-border-color-alternate:		$grey-medium;

$hr-margin:										$spacer 0;									

