$carousel-bg: 						$grey-dark;
$carousel-transparent-bg: rgba(black, .6);

$carousel-link: 					$white;

$carousel-controls-color: $grey-light;
$carousel-controls-hover: $brand-secondary;

$carousel-padding-sm: 		1em 1.5em;
$carousel-padding-md: 		1.2em .5em 1.2em 1.5em;


$carousel-transition: 		left .2s ease;
$carousel-alt-transition: left .1s ease;