// Collapse
$collapse-dummy-height: 3000px;
$collapse-margin-top: 16px;

// Collapse show more
$collapse-show-more-padding-bottom: 60px;

// Collapse icon
$collapse-icon-weight: 400;
$collapse-icon-size: .6em;
$collapse-icon-rotate: 45deg;
$collapse-icon-margin-top: 8px;
$collapse-icon-size: .6em;

// Collapse accordion
$accordion-icon-weight: 900;
$accordion-icon-size: 22;
$accordion-border-color: $grey;
$accordion-border-size: 4px;
$accordion-padding-bottom: 1em;