$footer-padding-top: 		2.5em;
$footer-padding-bottom: 2.5em;

$footer-font-size: 			$font-size-xs;


//pre footer
$pre-footer-margin-top: $spacer-y*4;
$pre-footer-border: 		6px solid $brand-secondary;
$pre-footer-bg: 				$grey-light;
$pre-footer-color: 			$grey-dark;
$pre-footer-link: 			$grey-dark;

//main footer
$main-footer-bg: 				$grey-dark;
$main-footer-color: 		$white;
$main-footer-link: 			$white;
$main-footer-border: 		1px solid rgba(white, .5);