// List spacing
$list-margin-right:					$spacer-x*0.5;
$list-margin-left:					$spacer-x*0.5;
$list-margin-bottom:				$spacer-x*2;
$list-nested-padding:				$spacer-x*2;
$list-inline-padding:				$spacer-x*0.5;
$list-inline-separator-padding:		$spacer-x*2;