$off-canvas-body-bg:	$grey-light; //background color for off-canvas navigation
$off-canvas-wrap-bg:	$white; //background color for visible body

$off-canvas-size: 		16em;

$off-canvas-animation: ease-in-out .3s;
