$progress-height: 				$spacer-y * 1.5;
$progress-radius:				$border-radius;

$progress-background:			$grey-light;
$progress-color:				$brand-primary;

$progress-gradient-size:		$spacer-y $spacer-y;

$progress-bar-success-bg: 		$green;
$progress-bar-info-bg:			$brand-secondary;
$progress-bar-warning-bg:		$orange;
$progress-bar-danger-bg:		$red;