$secondary-nav-border: 					$list-group-border-width;
$secondary-nav-border-thin: 			$ruler-width-thin;
$secondary-nav-padding-y: 				$list-group-padding-y; 
$secondary-nav-padding-bottom:			$list-group-padding-bottom; 
$secondary-nav-weight: 					600;

$secondary-nav-linkcolor: 				$brand-primary;
$secondary-nav-linkcolor-hover: 		$brand-primary;

$secondary-nav-border-color: 			$grey;
$secondary-nav-border-hover: 			$grey;

$secondary-nav-level2-border-style:		solid;
$secondary-nav-level2-padding-left: 	0;

$secondary-nav-active-icon-color: 		$brand-primary;
$secondary-nav-active-icon-margin: 		$spacer !important;
$secondary-nav-active-color: 			$grey-medium;


$secondary-nav-trigger-bg:				$grey-light;
$secondary-nav-trigger-border:			$ruler-width-thin solid $grey;

$secondary-nav-level3-font-size: 		$font-size-xs;
$secondary-nav-level3-padding-left: 	0;
$secondary-nav-level3-hover: 			$brand-secondary;