//Sticky button
$sticky-z-index:				900;
$sticky-max-width:				194px;
$sticky-width:				150px;
$sticky-position-top:			10px;
$sticky-icon-min-height:		64px;
$sticky-icon-padding:			4px;
$sticky-icon-width:				50px;
