//Form Tips
$form-tip-border:							$ruler-width-thin solid $brand-primary;
$form-tip-background:						$grey-light;
$form-tip-padding:							$spacer-y/2 $spacer-x/2 $spacer-y*2;
$form-tip-primary-color:					$brand-primary;
$form-tip-secondary-color:					$grey-medium;
$form-tip-bottom:							-3.625rem;
$form-tip-width:							90%;
$form-tip-contents-z-index:					$level2;