$embedded-video-padding-bottom: 56.25%;
$embedded-video-padding-top: 25px;
$embedded-video-max-width: 848px;
$embedded-video-max-height: 502px;
$embedded-video-width: 44.16vw;
$embedded-video-height: 46.48vh;
$embedded-video-max-height: 676px;