// Quote block.

.wp-block-quote {

	border: 0;
	position: relative;
    padding: 0 3rem;

	&__citation {
		text-align: inherit;
	}

	&.is-style-large {

		padding: 0 3rem;

		p {
			line-height: inherit;
			font-style: inherit;
			margin-bottom: $paragraph-margin-bottom;
		}

		.wp-block-quote__citation {
			text-align: inherit;
		}

	}
}
