
// Image block.

.wp-block-image {

	figure{
		margin-bottom: 0;
	}

	.alignleft {
		margin-right: $spacer * 0.5;
	}

	.alignright {
		margin-left: $spacer * 0.5;
	}

	@include media-up(sm) {

		.alignleft {
			margin-right: $spacer * 1.5;
		}

		.alignright {
			margin-left: $spacer * 1.5;
		}

	}

}
